		<div id="loginBlock" class="loginBlock">
			<div id="loginHeader" class="loginHeader" style="background-color: white">
				<p id="loginHeaderContent" class="loginHeaderContent">Login Details</p>
			</div>
			<p style="width: 80%; font-family: Arial, Helvetica, sans-serif; margin-top: 27%; font-size: 0.8em; font-weight:bold; margin-left: 9%;	text-align: justify;    text-justify: inter-word;">If you are registered member Please enter your e-mail address and password below. In order to login, and retrieve your previously registered details.</p>
			<p style="width: 82%; font-family: Arial, Helvetica, sans-serif; margin-top: 4%; font-size: 0.8em; opacity:0.8; margin-left: 9%;text-align: justify;">If you are not a registered member, and would like to become one, you will be provided with the opportunity to register once you have completed your booking.</p>
			<input id="loginEmail" class="loginEmail" placeholder="e-mail address"type="email"/>
			<input id="loginPassword" class="loginPassword" placeholder="password" type="password"/>
			<button class="login" type="button" onclick="">Login</button>
		</div>
		<div id="personalBlock" class="personalBlock">
			<div id="personalHeader" class="personalHeader" ><p id="personalHeaderContent" class="loginHeaderContent">Personal Details</div>
			<div style="width:100%;float:left;">
				<input class="title"type="text" style="float: left;" placeholder="*Title"/><br>
			</div>	
			<div  class="getaddress">
				<div style="width:100%;float:left">
					<input class="postcode"type="text"  style="float: left;" placeholder="*Postcode"/>
					<button class="addressbutton" type="button"  style="float: left;" onclick="">Get Address</button>
				</div >
				<div style="width:100%;float:left">
					<input class="house"type="text"  style="float: left;" placeholder="*House no/Name"/>
				</div>
			</div>
			<div style="width:100%;float:left;">
				<input class="initial"type="text"  style="float: left;" placeholder="*Initial"/><br>
			</div>
			<div style="width:100%;float:left;">
				<input class="surname"type="text"  style="float: left;" placeholder="*Surname"/><br>
			</div>	
			<div style="width:100%;float:left;">
				<input class="address"type="text"  style="float: left;" placeholder="*Address"/><br>
			</div>	
			<div style="width:100%;float:left;">
				<input class="address1"type="text" style="float: left;" /><br>
			</div>	
			<div style="width:100%;float:left;">
				<input class="town"type="text"  style="float: left;" placeholder="*Town/City"/>
				<input class="country"type="text"  style="float: left;" placeholder="*Country"/><br>
			</div>
			<div style="width:100%;float:left;">
				<input class="pincode"type="text"  style="float: left;" placeholder="*Pincode"/><br>
			</div>	
			<div style="width:100%;float:left;">
				<input class="email" placeholder="*e-mail address" style="float: left;" type="email"/><br>
			</div>	
			<div style="width:100%;float:left;">
				<input class="contact" placeholder="*Contact Mobile no" style="float: left;" type="text"/><br>
			</div>	
			<div style="float:left; margin-left: 2%; width: 46%; margin-top:3%;">
				<input  type="checkbox" style="float:left;margin-left:2%;" value="Remember me"><span style="padding-right: 30%;">Remember me</span>
				<input  type="checkbox"  value="Free text confirmation"><span>Free text confirmation</span>
			</div>	
		</div>
		<div id="carBlock" class="carBlock">
			<div id="carHeader" class="carHeader" >
				<p id="carHeaderContent" class="loginHeaderContent">Car Details</p>
			</div>
			<div style="width:100%;float:left;">
				<input class="registration" placeholder="*Registration no."type="text"/>
				<p class="cardetails"><b>Car parks operate Automatic Number Plate Recognition(ANPR).It is essential that you accurately enter your vehicle registration when making your booking.</b></p>
			</div>
		</div>
		<div style="float:right;margin-right:2%;margin-bottom:5%;">
			<button class="btn btn-success">Checkout & Payment</button>
		</div>