			<div class="wifiSetting">
				<div class="wifiHeader">			
					<span class="wifiTitle">Wi Fi Settings</span>
				</div>
				<img src="../assets/images/wifi.png" class="wifiImg">
				<div style="text-align: left;"><p class="status">Status</p>
				<span class="connected" style="text-align: left;">Connected</span>
				</div>
			</div>
		<div class="parking">
				<div class="parkingheader">
					<span class="availability">Parking</span>
				</div>
				<img src="../assets/images/parking.png" class="parkingImg">
				<div  style="text-align: left;">
					<p class="availableTitle">Availability</p>
					<span class="parkingTitle">Available</span>
				</div>
			</div>	
			<div class="tbd">
				<div class="tbdtitle">
					<span class="tbdavailable">TBD</span>
				</div>
				<img src="../assets/images/help.png" class="helpImg">
				<div  style="text-align: left;">
					<p class="tbdHeader">xxxxxx</p>
					<span class="tbdavailabletiltle">xxxxxxxxx</span>
				</div>
			</div>
			<div class="tbd2">
				<div class="tbdtitle2">
					<span class="tbdavailable2">TBD</span>
				</div>
				<img src="../assets/images/help.png" class="helpImg2">
				<div  style="text-align: left;">
					<p class="tbdHeader2">xxxxxx</p>
					<span class="tbdavailabletiltle2">xxxxxxxxx</span>
				</div>
			</div>